{% extends 'base.html' %}
{% block title %}Asignar materias{% endblock %}
{% block content %}
<h1>Asignar materias a {{ professor.user.get_full_name }}</h1>
<form method="post">
  {% csrf_token %}
  <div class="mb-3">
    {% for s in subjects %}
    <div class="form-check">
      <input class="form-check-input" type="checkbox" name="subjects" value="{{ s.id }}" id="s{{ s.id }}" {% if s in professor.subjects.all %}checked{% endif %}>
      <label class="form-check-label" for="s{{ s.id }}">{{ s.name }} ({{ s.code }})</label>
    </div>
    {% endfor %}
  </div>
  <button class="btn btn-primary">Guardar</button>
  <a class="btn btn-secondary" href="{% url 'users:user-list' %}">Volver</a>
</form>
{% endblock %}
